<h4>会員情報編集</h4>

<%= form_with model: @customer, url: customers_mypage_path, method: :patch do |f| %>

<table>
  <tr>
   <div class="field">
    <th>氏名</th>
    <td><%= f.text_field :last_name %></td>
    <td><%= f.text_field :first_name %></td>
   </div>
  </tr>
  <tr>
    <div class="field">
      <th>フリガナ</th>
      <td><%= f.text_field :last_name_kana %></td>
      <td><%= f.text_field :first_name_kana %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <th>郵便番号</th>
      <td><%= f.text_field :post_cord %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <th>住所</th>
      <td><%= f.text_field :address %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <th>電話番号</th>
      <td><%= f.text_field :telephone_number %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <th>メールアドレス</th>
      <td><%= f.text_field :email %></td>
    </div>
  </tr>
</table>

<%= f.submit "編集内容を保存" %>
<%= link_to "退会する", customers_mypage_confirm_path %>

<% end %>