<%= render 'layouts/admin_header' %>
<div class="container">
  <div class="row">
    <div class="col">
      <h2> <%= @customer.last_name + @customer.first_name %> さんの会員情報編集</h2>
      <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>
      <table>
        <tr>
          <td>会員id</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
          <td><%= f.text_field :first_name, autocomplete: "first_name" %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :last_name_kana, autocomplete: "last_name_kana" %></td>
          <td><%= f.text_field :first_name_kana, autocomplete: "first_name_kana"%></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :post_cord, autocomplete: "post_cord"  %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address, autocomplete: "adresses" %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :telephone_number, autocomplete: "telephone_number" %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td><%=f.radio_button :is_active, true %></td>
          <td><%=f.label :is_active,"有効" %></td>
          <td><%=f.radio_button :is_active, false %></td>
          <td><%=f.label :is_active, "退会" %></td>
        </tr>
        <tr>
          <td><%= f.submit '変更を保存', class: "btn btn-success" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>