<html>
  <body>
    <main>
      <p id= "notice"></p>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h4>ジャンル編集</h4>
            
            <% if @genre.errors.any? %>
              <%= @genre.errors.count %>件のエラーが発生しました
              <ul>
                <% @genre.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>

            <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
            <p>ジャンル名
              <td><%= f.text_field :name, class:'m-4' %></td>

              <td><%= f.submit '変更を保存', class:'btn btn-success m-4' %></td>
            </p>

            <% end %>
          </div>
          <div class= "col-sm-6"></div>
        </div>
      </div>
    </main>
  </body>
</html>
