<%= render 'layouts/admin_header' %>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>注文履歴一覧</h2>
      <table class="table">
        <thead>
          <tr class="table-secondary">
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
          </tr>
        </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at, admin_order_path(order.id), class:"text-dark"%></td>
          <td><%= order.name %></td>
          <td><%= order.total_piece %></td>
          <td><%= order.status %></td>
        </tr>
        <% end %>
      </tbody>
    </div>
  </div>
</div>
<%= paginate @orders %>
