<div class="container">
    <div class="row mt-5">
        <h2>配送先登録/一覧</h2>
    </div>
    <% if @address.errors.any? %>
    <div class="row mt-3">
        <h5><%= @address.errors.count %>件のエラーが発生しました。</h5>
        <ul>
            <% @address.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="row-mt-3">
        <%= form_with model: @address, url: addresses_path do |f| %>
        <table class="table table-borderless" scope="col" style="width: 70%">
            <tr>
                <td><label for="inputPostalCode"><strong>郵便番号(ハイフンなし)</strong></label></td>
                <td><%= f.text_field :shipping_post_code, id:"inputPostalCode" %></td>
            </tr>
            <tr>
                <td><label for="inputAddress"><strong>住所</strong></label></td>
                <td><%= f.text_field :shipping_address, id:"inputAddress" %></td>
            </tr>
            <tr>
                <td><label for="inputName"><strong>宛名</strong></label></td>
                <td><%= f.text_field :shipping_name, id:"inputName" %></td>
            </tr>
            <tr>
                <td><%= f.submit "新規登録", class: "btn btn-lg btn-success" %></td>
            </tr>
        </table>
        <% end %>
        <div class"row mt-3">
            <table class="table table-hover" scope="col" style="width: 70%">
                <thead class="thead-light">
                    <th>郵便番号</th><th>住所</th><th>宛名</th><th></th><th></th>
                </thead>
                <tbody>
                    <% @addresses.each do |address| %>
                    <tr>
                        <td><%= address.shipping_post_code %></td>
                        <td><%= address.shipping_address %></td>
                        <td><%= address.shipping_name %></td>
                        <td class="float-right"><%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success"%></td>
                        <td><%= link_to "削除する", address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-success" %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>