<div class="container">
  <div class="row mt-5">
    <h3>注文情報確認</h3>
  </div>
  <div class="row">
    <table class="table table-hover">
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
      <% @cart_items.each do |cart_item| %>
      <tr>
        <th><%= image_tag cart_item.item.image, size: "70x50" %><%= cart_item.item.name %></th>
        <td><%= cart_item.item.item_total_price %></td>
        <td><%= cart_item.amount %></td>
        <td><%= cart_item.subtotal %></td>
      </tr>
      <% end %>
    </table>
    <table class="table table-hover">
      <tr>
        <th>送料</th>
        <td><%= @postage %></td>
      </tr>
      <tr>
        <th>商品合計</th>
        <th><%= @total %></th>
      </tr>
      <tr>
        <th>請求金額</th>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <h4>支払い方法</h4>
    <%= @order.payment_i18n %>
    <h4>お届け先</h4>
    <%= @order.address_display %>
  </div>
  <%= form_with model: @order, url: orders_path do |f| %>
  <div class="row">
    <%= f.submit "注文を確定する", class: "btn btn-sm btn-succese rounded" %>
    <%= f.hidden_field :payment, value: @order.payment %>
    <%= f.hidden_field :address, value: @order.address %>
    <%= f.hidden_field :name, value: @order.name %>
    <%= f.hidden_field :post_code, value: @order.post_code %>
    <%= f.hidden_field :postage, value: @postage %>
    <%= f.hidden_field :customer_id, value: current_customer.id %>
  </div>
  <% end %>
</div>
