<%= render 'layouts/public_header' %>
<div class="container">
  <div class="row mt-5">
    <h3>商品一覧</h3>
    <span>(全<%= @items.count %>件)</span>
  </div>


  <div class="row mt-2">
    <% @items.each do |item| %>
      <div class="col-3">
        <div class="card">
          <%= link_to item_path(item) do %>
            <%= image_tag item.image, size: "200x200", class: "card-img-top" %>
          <% end %>
        </div>
        <div class="card-body">
          <div class="h5 card-title"><%= item.name %></div>
          <div class="h6 card-subtitle">￥<%= number_with_delimiter(item.item_total_price, delimiter: ',') %></div>
      </div>
    </div>
  <% end %>
</div>
