<div class="container">
  <div class="row mt-5">
    <div class="col-4">
      <%= image_tag @item.image, size: "300x300" %>
    </div>


    <div class="col-6 offset-2">
      <h3 class="my-3"><%= @item.name %></h3>
      <p class="my-3"><strong><%= @item.introduction %></strong></p>
      <p class="my-3"><strong>￥<%= number_with_delimiter(@item.item_total_price, delimiter: ',') %>(税込)</strong></p>
    </div>
  </div>
  <div class="row mt-3">
    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
      <%= f.label :amount, "個数" %>
      <%= f.select :amount, options_from_collection_for_select(1..10, :to_s, :to_s) %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.submit "カートに入れる" %>
    <% end %>
  </div>
</div>