<header>
  <div class="p-1 border-bottom border-secondary">
    <nav>
      <div class="container">
        <div class="row">
          <div class="col">
            <%= link_to "LOGO", root_path, class: "btn btn-outline-dark btn-lg"%>
          </div>
          <div class="col">
            <div class="d-flex flex-row-reverse bd-highlight">
              <ul class="nav pull-right nav-pills">
                <% if customer_signed_in? %>
                  <li>
                    <%= link_to "マイページ", customers_mypage_path, class: "btn btn-outline-dark"%>
                  </li>
                  <li>
                    <%= link_to "商品一覧", items_path, class: "btn btn-outline-dark" %>
                  </li>
                  <li>
                    <%= link_to "カート", cart_items_path, class: "btn btn-outline-dark" %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_customer_session_path, class: "btn btn-outline-dark", method: :delete %>
                  </li>
                  <div><%= "ようこそ、"+ current_customer.last_name+"さん！" %></div>
                <% else %>
                  <li>
                    <%= link_to "About", about_path, class: "btn btn-outline-dark" %>
                  </li>
                  <li>
                    <%= link_to "商品一覧", items_path, class: "btn btn-outline-dark" %>
                  </li>
                  <li>
                    <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-dark" %>
                  </li>
                  <li>
                    <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-dark" %>
                  </li>
                <% end %>
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <%= form_with(url:cart_items_path, scope: :post, local: true) do |f| %>
                      <%= f.text_field :search, placeholder: "キーワード検索" %>
                      <% f.submit %>
                    <% end %>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>